body {
    background-color: #1d2d3c;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #06131f;
}

.bg-card {
    background-color: #112030 !important;
}

.card {
    border: 1px solid #444;
}

.card h5, .card p {
    color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
}

.bg-dark-blue {
    background-color: #06131f;
}
